services:
  database:
    image: postgis/postgis
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - vaedo-network

  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/vaedo
    environment:
      - PYTHONPATH=/vaedo
      - DB_HOST=database
      - DJANGO_SETTINGS_MODULE=vaedo.settings
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py makemigrations  &&
             python manage.py migrate  &&
             python manage.py loaddata futur.json &&
             python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - database
      - redis

    networks:
      - vaedo-network

  # nginx:
  #   image: nginx:latest
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./static:/static
  #   depends_on:
  #     - app
  #   networks:
  #     - vaedo-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - vaedo-network



networks:
  vaedo-network:
    driver: bridge
